@import "tailwindcss";

.curved-bottom {
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
}

.card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.savings-card {
  display: grid;
  grid-template-columns: 80px minmax(100px, 1fr);
  gap: 10px;
}

.custom-swiper .swiper-pagination {
  transform: translateY(10px) !important;
}

.custom-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #d1d5db;
  opacity: 1;
  border-radius: 50%;
  margin: 0 4px !important;
  transition: all 0.3s ease;
}

.custom-swiper .swiper-pagination-bullet-active {
  width: 20px !important;
  height: 8px !important;
  background: oklch(85.2% 0.199 91.936) !important;
  border-radius: 999px !important;
}

.scroll-bar::-webkit-scrollbar {
  display: none;
}

@media screen and (width>=400px) {
  .tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
